.home {
  position: relative;

  background: #212337;
  color: #fff;
  text-align: center;

  display: grid;
  place-items: center;
}

.home::before {
  content: '';
  background: no-repeat url(../img/Screenshot\ 2020-07-22\ at\ 19.48.30.png) left top fixed;
  background-size: contain;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: .03;
}

.home-wrapper {
  max-width: 500px;
  z-index: 1;
}

.home__avatar {
  background: no-repeat center/100% url(../img/IMG_20200722_160250995.jpg);
  width: 50vw;
  max-width: 225px;
  height: 50vw;
  max-height: 225px;
  margin: auto;
  border-radius: 50%;

  border: 5px solid #fff;
}

.home__info {
  width: 90%;
  margin: auto;
}

.home__title, .home__subtitle {
  font-size: 1.25em;
}

.home__subtitle {
  font-weight: 100;
  color: #7af8ca;
}

.home__sobre {
  margin-top: 1em;
  background: #2D2F46;
  padding: 1em;
  border-radius: 10px;

  font-size: .8em;
  text-align: left;
  line-height: 1.5em;
}


.home__atualizacao {
  color: #BAACFF;
  font-size: .7em;
  font-weight: 300;

  position: absolute;
  bottom: 5vh;
}

@media (min-width: 375px) {

  .home__title, .home__subtitle {
    font-size: 1.5em;
  }

  .home__sobre {
    font-size: .85em;
  }

  .home__atualizacao {
    font-size: .75em;
  }
}

@media (min-width: 768px) {

  .home__title, .home__subtitle {
    font-size: 2em;
  }

  .home__sobre {
    font-size: 1em;
  }

  .home__atualizacao {
    font-size: .9em;
  }
}

@media (min-width: 1280px) {

  .home-wrapper {
    max-width: 650px;
  }

  .home__title, .home__subtitle {
    font-size: 2.5em;
  }

  .home__sobre {
    font-size: 1.25em;
  }

  .home__atualizacao {
    font-size: 1em;
  }
}